html {
	height: 100%;
}

body {
 	height: 100%;
 	margin: 0;
}

/**
 * Index
 */

.titreSession {
	margin: 0 10%;
	text-align: center;
}

.titreSession h1 {
	font-size: 4em;
}

.sessions {
	display: flex;
	justify-content: space-around;
	height: 200px;
	width: 100%;
}

.session {
	height: 100px;
	width: 280px;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

.sessions a {
	margin: auto;
}

footer {
	margin-top: 170px;
	text-align: center;
}

footer p {
	font-size: 3em;
}

/**
 * Vote
 */

.boutons {
	margin: 0;
	height: 33%;
	width: 100%;
	display: flex;
	justify-content: center;
}

#bg-green {
	background-color: #76ff03;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	font-size: 5em;
	font-weight: bold;
}

#bg-orange {
	background-color:  #FFAF2A;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	font-size: 5em;
	font-weight: bold;
}

#bg-red {
	background-color: #ff0000;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	font-size: 5em;
	font-weight: bold;
}

.cache {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

/**
 * classes JS
 */

.bg-green {
	background-color: #76ff03;
}

.bg-orange {
	background-color: #FFAF2A;
}

.bg-red {
	background-color: #ff0000;
}

/**
 * Session 3
 */

.startups {
	width: 100%;
	height: 100%;
}

.startups a {
	text-decoration: none;
	color: black;
}

.startups h3 {	
	text-align: center;
	margin: 40px;
	font-size: 2em;
}

.titre {
	margin: 10%;
	text-align: center;
}

.titre h1 {
	font-size: 4em;
}

/**
 * Session 4
 */

.voteChrono {
	height: 30%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.vote {
	height: 100px;
	width: 280px;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

.chrono {
	height: 100px;
	width: 280px;
	border-radius: 10px;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

.weekend {
	display: flex;
	justify-content: center;
}

.imgwe {
	width: 80%;
	height: 30%;
}

.inscriptions {
	display: flex;
	justify-content: center;
	padding-top: 90px;
}

.inscriptions a {
	font-size: 3em;
	color: black;
	font-weight: bold;
}