html {
	height: 100%;
}

body {
	height:100%;
	margin:0;
}

/* Vote */
.btn_retour {
	height:5vh;
}

.cartons {
	display: flex;
	height: 100vh;
	flex-direction: column;
}	

.cartons-inner {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.carton{
	width: 100%;
	font-weight: bold;
	display: block;
	flex: 1;
	font-size: 3em;
}

.material-icons {
	font-size: 2em!important;
}

#retour {
	width: 100%;
	height: 100%;
	font-size: 2em;
	font-weight: bold;
}

/* Compte à rebours */

.bouton {
	display: inline-block;
}

.cptearebours {
	display: flex;
	justify-content: center;
}