html {
	height: 100%;
}

body {
	height:100%;
	margin:0;
}

/* Accueil */

.image {
	display: flex;
	justify-content: center;
}

/* Vote */
.btn_retour {
	height:5vh;
}

.cartons {
	display: flex;
	height: 100vh;
	flex-direction: column;
}	

.cartons-inner {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.carton{
	width: 100%;
	font-weight: bold;
	display: block;
	flex: 1;
	font-size: 3em;
}

#vert {
	background-color: #3ac569;
}

.material-icons {
	font-size: 2em!important;
}

#retour {
	width: 100%;
	height: 100%;
	font-size: 2em;
	font-weight: bold;
}

/*pages couleur votes
.bg_green {
	background-color: #3ac569;
}

.bg_orange {
	background-color: orange;
}

.bg_red {
	background-color: red;
}

#retour_vote {
	background-color: white; 
}

#icone_retour_vert {
	color: #3ac569;
}

#icone_retour_orange {
	color: orange;
}

#icone_retour_rouge {
	color: red;
}*/