html {
	height: 100%;
}

body {
	height:100%;
	margin:0;
}

/* Vote */
.btn_retour {
	height:5vh;
}

.cartons {
	display: flex;
	height: 100vh;
	flex-direction: column;
}	

.cartons-inner {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.carton{
	width: 100%;
	font-weight: bold;
	display: block;
	flex: 1;
	font-size: 3em;
}

.material-icons {
	font-size: 2em!important;
}

#retour {
	width: 100%;
	height: 100%;
	font-size: 2em;
	font-weight: bold;
}

/* Page d'accueil */
.image_accueil {
	display: flex;
	justify-content: center;
	height: auto;
}

.btns_accueil {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
}

.vote {
	background-color: #1F73CB!important;
	height: 6vh!important;
	width: 43vw;
	font-size: 2em;
	margin: 10px;
}

.car {
	background-color: #1F73CB!important;
	height: 6vh!important;
	width: 43vw;
	font-size: 2em;
	margin: 10px;
}

/* Compte à rebours */
.cptearebours {
	display: flex;
	background-color: black;
	height: 100vh;
}

.cptearebours > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.timer {
	display: flex;
	flex: 1;
	padding-top: 2em; /* à modifier */
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 8em;
}

.boutons {
	height: 17vh;
}

.boutons button {
	display: inline-flex;
    font-weight: bold;
    height: 6vh !important;
    width: 20vw;
    border: 1px solid white;
    margin: 2em;
}