html {
	height: 100%;
}

body {
	height:100%;
	margin:0;
}

/* Vote */
.btn_retour {
	height:5vh;
}

.cartons {
	display: flex;
	height: 100vh;
	flex-direction: column;
}	

.cartons-inner {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.carton{
	width: 100%;
	font-weight: bold;
	display: block;
	flex: 1;
	font-size: 3em;
}

.material-icons {
	font-size: 2em!important;
}

#retour {
	width: 100%;
	height: 100%;
	font-size: 2em;
	font-weight: bold;
}

/* Page d'accueil */
.image_accueil {
	display: flex;
	justify-content: center;
	height: auto;
}

.btns_accueil {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
}

.bouton {
	display: inline-block;
	margin: 30px;
}

.vote {
	background-color: #1F73CB!important;
	height: 6vh!important;
	width: 43vw;
	font-size: 2em;
}

.car {
	background-color: #1F73CB!important;
	height: 6vh!important;
	width: 43vw;
	font-size: 2em;
}

/* Compte à rebours */
.cptearebours {
	height: 100%;
	background-color: black;
}

.timer {
	height: 80%;
	width: 100%;
	margin: 30px auto;
	background-color: black;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 8em;
	border-radius: 10px;
	padding-top: 75px;
}
